
input{
  width: 100%;
  height: 100%;
  border:2px solid ;
  border-radius: 5px;
}

button{
  width: 100%;
}

.items-container{
  text-align: left;

}

.col-6{
  font-weight: 700;
  

}

.col-4{
  font-weight: 700;
}



.kg-button{
  min-width: 250px;
  min-height: 50px;
}
